In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

data = pd.read_csv('C:/Users/seohyunseo/Desktop/BCIMusic/Data/ML/train_set.csv')
data.head()

       theta      alpha       beta      gamma   label
0   1.487258   0.767073  49.139962  58.022208  commic
1   2.021670   0.764236  47.106116  42.039653  commic
2   2.898215  14.180342  38.830505  36.282118  commic
3   1.306313  11.096074  41.883632  24.262873  commic
4  10.440531  12.309126  41.655093  29.642362  commic

In [2]:
feature_col = list(data.columns.difference(['label']))
x = data[feature_col]
y = data['label']
train_x, test_x, train_y, test_y = train_test_split(x,y,test_size=0.2, random_state=42)