In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

data = pd.read_csv('C:/Users/seohyunseo/Desktop/BCIMusic/Data/ML/train_set.csv')
data.head()

       theta      alpha       beta      gamma label
0  39.317338  22.967798  17.838988  17.642033   sad
1  48.513842  10.135195  22.818241  22.806476   sad
2  44.647864  18.726631  14.759608  15.221339   sad
3  31.713300  18.282935  17.550778  15.478370   sad
4  37.806001  27.527747  19.986808  14.684771   sad

In [14]:
feature_col = list(data.columns.difference(['label']))
x = data[feature_col]
y = data['label']
train_x, test_x, train_y, test_y = train_test_split(x,y,test_size=0.2, random_state=42)
print(train_x.shape, test_x.shape, train_y.shape, test_y.shape)

(24, 4) (7, 4) (24,) (7,)

In [15]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

In [17]:
clf = RandomForestClassifier(n_estimators=100, max_depth=10,random_state=0)
clf.fit(train_x,train_y)
predict1 = clf.predict(test_x)
print('accuracy: ',accuracy_score(test_y,predict1))
print(predict1)

accuracy:  0.7142857142857143
['sad' 'sad' 'commic' 'sad' 'sad' 'sad' 'sad']